/*

I. Table of Contents:

I. Table of Contents
II. Policy for Making New Pages
III. Book Page Recommendations 
IV. Recommendations for replacing page number

1. Font Size, Complex Color Definitions (root)
2. General Styling
3. Navigation
4. The Book Page (main)


II. Policy for making new pages:

1. Copy Basic_Book_Page_Structure.
2. Replace page number* inside webpage title. (See IV for how to replace a page's number.)
3. Replace page number inside webpage description. 
4. Replace page number for this page.
5. Replace page number in link to previous page (if applicable).
6. Replace page number in link to next page.


III. Book Page Recommendations v1.0

Basic_Book_Page_Structure =  Webpage_Start +
	      			         Head +
				             body_Start_Tag +
				             Navigation +
				             main_Start_Tag +
				             Book_Page_End + 
				             main_End_Tag +
				             Webpage_End
				   
Webpage_Start =  doctype declaration +
                 html_Start_Tag
			
Head =  Character_Set_Declaration +
        Book_Page_Webpage_Title +
		Viewport_Seting +
		Book_Page_Webpage_Description
		Webpage_Icon +
		Stylesheet_Linking

Book_Page_Webpage_Title =  Series_Name + 
                           Which_Book +
						   Page_Num +
					       Which_Chapter/Section

Character_Set_Declaration = Declare character set to utf-8.

See Stylesheet_Linking recommendations inside menustyle.css, starting comment section I.3.

Navigation =  Return_To_Index_Link +
              (optional: Previous_Page_Link) 
			 
Book_Page_End =  Page_Number +
                 Next_Page_Link
				 
Webpage_End =  body_End_Tag +
               html_End_Tag

We hope this mini-dictionary helps specify some book page recommendations as a simple light reading.



IV Recommendations for replacing page number:

1. If new page is based on previous page:
    1.1 Increment previous page and next page numbers.
Otherwise,
2. If new page is based on page farther behind:
    2.1 Verify new previous page and next page numbers.
	2.2 Replace previous and next page numbers
	
*/


/* 1. Font Size, Complex Color Definitions  */

:root {
	--fs-general: clamp(1.2rem, 2vw, 1.47rem);

	--clr-links-base: #40F0E0;
	--clr-links-hover: #11FF00;
	
	--clr-nav-bg: rgba(100, 100, 100, 0.7);
	--clr-nav-border: rgba(0, 115, 255, 0.5);
	--clr-page-bg: rgba(0, 0, 0, 0.7);
}


/* 2. General Styling  */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	word-wrap: break-word;
	
	background-color: silver;
	
	color: white;
	font-size: var(--fs-general);
	text-shadow: 1px 1px black;
}

a {
	text-decoration: none;
	color: var(--clr-links-base);
}

a:hover {
	color: var(--clr-links-hover);
}

a:active {
	color: lightgreen;
	outline: 2px solid red;
}

.center {
	text-align: center;
}


/* 3. Navigation  */

nav a {
	background-color: var(--clr-nav-bg);
	padding: 0.5rem 0.55rem;
	border-inline: 0.3rem solid var(--clr-nav-border);
	
	display: inline-block; /* Display on multiple lines if no room without breaking up options across lines, as is the case for inline  */
	margin: 0.2rem 0.3rem;
}


/* 4. The Book Page (main)  */

main {
	width: 80%;
	margin-inline: auto;
	
	background-color: var(--clr-page-bg);
	border: 2px solid green;
}

main h2, main h3, main p {
	text-indent: 4ch;
	width: min(75ch, 93%);
	margin-inline: auto;
}

.ch_title {
	text-shadow: 2px 2px gray;
}

.ch_heading { /* IDs for index linking only to be used for parts above I  */
	margin-top: 1.3em;
	font-family: Courier new monospace;
}

.TLnotes { 
    
}

.p_num {
	margin-top: 2.718rem; 
}